# Backend API URL (Browser accessible)
# For local development: http://localhost:8000
# For AWS deployment: http://<YOUR_AWS_PUBLIC_IP>:8000
VUE_APP_API_BASE=http://localhost:8000

# Frontend Port
FRONTEND_PORT=8085

# Backend Port
BACKEND_PORT=8000
